beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
filelock==3.18.0
gdown==5.2.0
idna==3.10
kafka-python==2.2.11
numpy==2.3.0
pandas==2.3.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
setuptools==78.1.1
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
wheel==0.45.1
